:root {
    --color-black: #181818;
    --color-black2: #000;
    --color-black3: #121212;
    --color-black4: #212121;
    --color-white: #FFF;
    --color-subtitles-whitePale: #DCDCDC;
    --color-whiteSecundary: #D8D8D8;
    --color-whitethir: #D6D6D6;
    --color-buttonColor: #1FF98F;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--color-black3);
}

html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
}

.container-header {
    background-color: var(--color-black);
    width: 390px;
    height: 78px;
}

.container-header svg {
    width: 160px;
    height: 64px;
    padding: 4px 0px 0px 16px;
}

/* SECTION NUMBER 01 - OK */

#section-part-01 {
    width: 390px;
    height: 669px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-section-01 {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-section-01 h1 {
    padding-top: 40px;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    text-align: center;
    color: var(--color-white);
}

.container-section-01 p {
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    text-align: center;
    color: var(--color-subtitles-whitePale);
}

.button-main-01 {
    background-color: var(--color-buttonColor);
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    width: 246px;
    height: 51px;
    border-radius: 159984px;
    margin: 27px 0px 56px 0px;
}

/* END OF SECTION NUMBER 01 */

/* SECTION NUMBER 02 */
#section-part-02 {
    width: 390px;
    height: 445px;
    background-color: var(--color-black3);
    font-family: 'Inter', sans-serif;
}

#section-part-02 h4 {
    color: var(--color-subtitles-whitePale);
    text-align: center;
    padding: 36px 0px 12px 0px;
}

.images-section-part-02 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 390px;
    height: 250px;
}

.images-section-part-02 img {
    padding-bottom: 27px;
}

/* END OF THE SECTION NUMBER 2*/



/* SECTION NUMBER 3 */
#section-part-03 {
    width: 390px;
    height: 660px;
}

.text-section-03 h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: var(--color-white);
}

.text-section-03 p {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: var(--color-subtitles-whitePale);
}

.images-section-03 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images-main-03 img {
    margin-top: 10px;
    /* Quando a internet voltar verificar o tamanho da imagem !!! */
}
/* END OF THE SECTION NUMBER 3 */

/* SECTION NUMBER 4 */
#section-part-04 {
    width: 390px;
    background-color: var(--color-black3);
    height: 2050px;
}

.text-section-04{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-section-04 h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: var(--color-buttonColor);
    text-align: center;
    margin: 144px 36px 0px 36px;
}

.text-section-04 p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: var(--color-white);
    margin: 0px 17px 17px 17px;
    padding-top: 9px;
}

.container-cards-section-04{
    width: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    width: 360px;
    height: 521px;
    background-color: #212121;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.card h3 {
    font-family: 'Inter',sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: var(--color-buttonColor);
    text-align: left;
    padding: 0px 24px 6px 24px;
}

.card hr {
    color: var(--color-buttonColor);
    background-color: var(--color-buttonColor);
    border: none;
    width: 328px;
    height: 1px;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
}

.card p {
    font-family: 'Inter',sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-white);
    text-align: left;
    padding-top: 2px;
    margin: 0px 35px 12px 24px;
}

.card img {
    width: 328px;
    height: 328px;
    align-items: center;
}
/* END THE SECTION NUMBER 4 */


/* SECTION NUMBER 5 */
#section-part-05{
    width: 390px;
    height: 1600px;
    background-color: var(--color-black3);
}

.container-cards-section-05 {
    width: 360px;
    height: 1471px;
    margin: 0 auto;
}

/* .text-section-05{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.text-section-05 h1 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: var(--color-white);
}

.text-section-05 p {
    font-family: 'Inter';
    font-weight: 400px;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: var(--color-white);
    margin: 0px 46px 17px 46px;
}

.cards-section-05 {
    margin-bottom: 16px;
}

.cards-section-05 h3 {
    font-family: 'Inter';
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.4px;
    color: var(--color-white);
    text-align: left;
    margin: 23px 0px 4px 24px;
}
.cards-section-05 p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.4px;
    color: var(--color-whiteSecundary);
    margin: 0px 27px 0px 24px;
}

.cards-section-05 span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: -0.4px;
    color: var(--color-white);
    margin: 4px 0px 24px 24px;
}

/* END OF THE SECTION NUMBER 5 */


/* SECTION NUMBER 6 */
#section-part-06 {
    width: 390px;
    height: 2000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.text-section-06{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
}

.text-section-06 h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: var(--color-buttonColor);
}

.paraf {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: var(--color-white);
}

.cards-section-06 {
    width: 360px;
    height: 420px;
    background-color: #212121;
    border-radius: 8px;
    font-family: 'Inter';
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards-section-06 hr {
    width: 328px;
}

.cards-section-06 p {
    font-weight: 500;
    font-size: 18px;
    font-style: normal;
    line-height: 22px;
    text-align: left;
    color: var(--color-white);
    margin: 8px 30px 24px 24px;
}

/* END OF THE SECTION 6 */


/* SECTION NUMBER 7 */
#section-part-07 {
    width: 390px;
    height: 600px;
}

.container-section-07 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-section-07{
    width: 320px;
    margin-bottom: 20px;
}

.text-section-07 h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    color: var(--color-white);
}

.text-section-07 p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: var(--color-whitethir);
}

#section-part-07 button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    list-style: 27px;
    text-align: center;
    color: var(--color-black2);
    padding: 12px 19px 12px 20px;
    border-radius: 159984px;
    border: none;
    background-color: var(--color-buttonColor);
    width: 166px;
    height: 51px;
    margin-bottom: 56px;
}

/* END OF THE SECTION NUMBER 07 */

/* SECTION NUMBER 7 */
#section-part-08 {
    width: 390px;
    height: 424px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-section-08 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
}

.text-section-08 h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: var(--color-white);
}

.button-section-8 {
    width: 288px;
    height: 51px;
    border-radius: 159984px;
    background-color: var(--color-buttonColor);
    border: none;
    font-family: 'Inter';
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: var(--color-black2);
    margin-bottom: 119px;
}

/* END OF THE SECTION 8 */

footer {
    width: 390px;
    height: 272px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-final {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.final-text {
    display: flex;
    justify-content: space-around;
    margin: 41px 0px 68px 0px;
}

.final-text a {
    text-decoration: none;
    color: #9999;
    padding: 15px;
}

footer hr {
    width: 360px;
}

footer span {
    font-family: 'Inter';
    font-weight: 400px;
    font-size: 16px;
    line-height: 24px;
    color: #999;
    margin-top: 10px;
}

@media(max-width:768px) {

    .menu-header {
        display: none;
    }

    .button-header {
        display: none;
    }
}